@font-face {
    font-family: "Rubik Bold";
    scr: url("./fonts/Rubik-Bold.ttf");
}
@font-face {
    font-family: "Rubik Medium";
    scr: url("./fonts/Rubik-Medium.ttf");
}
@font-face {
    font-family: "Rubik Light";
    scr: url("./fonts/Rubik-Light.ttf");
}
@font-face {
    font-family: "Rubik Regular";
    scr: url("./fonts/Rubik-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik Regular";
}

.container {
    text-align: center;
    min-width: 1440px;
    margin: 0 auto;
}

.button {
    height: 80px;
    color: #fff;
    font-size: 25px;
    background-color: rgb(77, 182, 169);
    border-radius: 40px;
    border-color: transparent;
}

.button:hover {
    cursor: pointer;
    background-color: rgb(77, 182, 169, 0.8);

}

.button:active {
    background-color: rgb(77, 182, 169, 0.7);
}

.button__header {
    width: 323px;
}

.header {
    height: 600px;
    display: flex;
    background-color: rgb(228, 230, 237);
    padding: 0 94px;
    margin: 0 auto;
}

.header__container {
    display: flex;
    width: 1075px;
    margin: 0 auto;
}

.header__content {
    width: 505px;
    text-align: left;
    margin-top: 40px;
}

.header__icon {
    display: block;
    margin-bottom: 100px;
}

.header__content h1 {
    width: 188px;
    font-family: "Rubik Bold";
    font-size: 78.5px;
    color: rgb(33, 32, 51);
    line-height: 88%;
    letter-spacing: 11px;
    margin-bottom: 59px;
}

.header__dron {
    height: 455px;
}

.main {
    position: relative;
    height: 580px;
    padding: 63px 94px 0 94px;
    margin: 0 auto;
}

.main {
    margin-bottom: 25px;
    font-size: 38px;
    color: rgb(33, 32, 51);
    letter-spacing: 0.5px;
}

.main p {
    display: block;
    width: 710px;
    font-size: 20px;
    color: rgb(33, 32, 51);
    margin-left: auto;
    margin-right: auto;
}

.main__images {
    display: flex;
    justify-content: center;
}

.main__images {
    height: 213px;
    width: 421px;
    border-radius: 53px;
}

.pay {
    height: 370px;
    margin: 0 auto;
    padding: 0 94px;
    
}

.pay h2{
    font-family: "Rubik Medium";
    font-size: 98px;
    color: rgb(33, 32, 51);
    letter-spacing: 1px;
    margin-bottom: 45px;
}

.pay__form {
    display: flex;
    width: 825px;
    margin: 0 auto;
}

.pay__founds {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    margin-right: 20px;
}

.pay__founds label {
    position: relative;
    height: 45px;
    width: 270px;
    line-height: 44px;
    color: rgba(19, 75, 128, 0.4);
}

.pay__founds *:first-child {
    margin-bottom: 15px;
}

.pay__founds label:not(:last-of-type) {
    margin-bottom: 12px;
}

input {
    font-size: 18px;
    padding-left: 24px;
}

input[type=radio] {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

input[type=radio] ~ span {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 22px;
    background-color: transparent;
    border: solid rgb(10, 50, 100) 1px;
    padding: 0 24px;
    cursor: pointer;
}

input[type=radio]:checked ~ span {
    background-color: rgba(19, 75, 128, 0.4);
}

input[type=radio] ~ span::after {
    content: "";
}

input[type=radio]:checked ~ span::after {
    content: "+";
    right: 30px;
    position: absolute;
}

.pay__first-card-col {
    margin-left: 12px;
    margin-right: 16px;
}

.pay__first-card-col > div {
    display: flex;
    justify-content: space-between;
}

.pay__first-card-col > div label {
    display: inline-block;
    width: 118px;
}

.pay__first-card-col > div label > input {
    margin-top: 6px;
}

.pay__second-card-col input{
    width: 100%;
}

.pay__card {
    display: flex;
    flex-direction: row;
    width: 530px;
}

.pay__card > * {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pay__card label {
    text-align: left;
}

.pay__card label> input {
    height: 60px;
    width: 100%;
    border-radius: 12px;
    border: solid rgb(18, 86, 155) 1px;
    margin-top: 12px;
}

footer {
    height: 200px;
    font-size: 20px;
    color: #fff;
    background-color: rgb(77, 182, 169);
    margin-top: 200px;
    padding-top: 100px;
}

footer *:first-child {
    letter-spacing: 3px;
    margin-bottom: 23px;
}